<footer>
    <p>Made with ❤️ by <a href="https://www.linkedin.com/in/joshua-toepfer/" target="_blank">Joshua Töpfer</a> | <a href="/impressum/">Impressum</a> | <a href="/datenschutzerklaerung/">Datenschutz</a></p>
</footer>